<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLBHConnection"
			connectionString="Data Source=LAPTOP-A17NC8EA\MSSQLMD1226;Initial Catalog=QLBH;Integrated Security=True;Trust Server Certificate=True"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>